<% provide(:button_text, 'Save changes') %>

<div class="row edit-head">
  <h2>Edit worker information</h2>
  <%= render 'form' %>
</div><!-- /row -->

<div class="row">
  <div class="delete">
    <%= link_to "Delete worker", @worker, method: :delete,
                data: { confirm: "Are you sure?" },
                class: ["btn", "btn-danger"] %>
  </div>
</div><!-- /row -->
