<% provide(:button_text, 'Create') %>

<div class="row index-head">
  <h2>Add a new worker <i class="fa fa-user-md fa-lg" aria-hidden="true"></i>
</h2>
  <%= render 'form' %>
</div><!-- /row -->

<h2>Workers list</h2>
<div class="row workers-list">
  <%= render @workers %>
</div><!-- /row -->

